{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
{{ block.super }} - {{ announcement.title|title }}
{% endblock %}

{% block content %}

<article>
  <header>
    <h2>{{ announcement.title|title }}</h2>
    <ul>
      <li><a href="{{ announcement.get_update_url }}">Edit Announcement</a></li>
      <li><a href="{{ announcement.get_delete_url }}">Delete Announcement</a></li>
    </ul>
    <p>
      Written on
      <time datetime="{{ announcement.pub_date|date:"Y-m-d" }}">
        {{ announcement.pub_date|date:"l, F j, Y" }}
      </time>
    </p>
  </header>

   {{ announcement.text|linebreaks }}
</article>

{% endblock %}
