{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
{{ block.super }} - {{ project.title|title }}
{% endblock %}

{% block content %}

<article>
  <header>
    <h2>{{ project.title|title }}</h2>
    <ul>
      <li><a href="{{ project.get_update_url }}">Edit Project</a></li>
      <li><a href="{{ project.get_delete_url }}">Delete Project</a></li>
    </ul>
    <p>
     Started on
      <time datetime="{{ project.start_date|date:"Y-m-d" }}">
        {{ project.start_date|date:"l, F j, Y" }}
      </time>
    </p>
  </header>
   <p>
     {{ project.members }}
   </p>

   {{ project.text|linebreaks }}

   <p>
     {{ project.status }}
   </p>

</article>

{% endblock %}
