{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
{{ block.super }} - {{ sermon.title|title }}
{% endblock %}

{% block content %}

<article>
  <header>
    <h2>{{ sermon.title|title }}</h2>
    <ul>
      <li><a href="{{ sermon.get_update_url }}">Edit Sermon</a></li>
      <li><a href="{{ sermon.get_delete_url }}">Delete Sermon</a></li>
    </ul>
    <p>
      Written on
      <time datetime="{{ sermon.pub_date|date:"Y-m-d" }}">
        {{ sermon.pub_date|date:"l, F j, Y" }}
      </time>
    </p>
  </header>

   {{ sermon.text|linebreaks }}
</article>

{% endblock %}
