{% extends parent_template|default:"people/base_people.html" %}

{% block title %}
{{ block.super }} - {{ parishioner.name|title }}
{% endblock %}

{% block content %}

<article>
  <h2>{{ parishioner.name|title }}</h2>
  <ul>
    <li><a href="{{ parishioner.get_update_url }}">Edit Parishioner</a></li>
    <li><a href="{{ parishioner.get_delete_url }}">Delete Parishioner</a></li>
  </ul>
  <dl>
    <dt>Date of Birth</dt>
      <dd>{{ parishioner.date_of_birth|date:"F jS, Y" }}</dd>
    <dt>Email</dt>
      <dd>{{ parishioner.email }}</dd>
    <dt>Phone Number</dt>
      <dd>{{ parishioner.phone_number }}</dd>
    <dt>Start Date</dt>
      <dd>{{ parishioner.start_date|date:"F jS, Y" }}</dd>
    <dt>Community</dt>
      <!--<dd><a href="#">{{ parishioner.communities|title }}</a></dd>-->
      <dd><a href="{{ parishioner.community.get_absolute_url }}">{{ parishioner.community|title }}</a></dd>
    <dt>Societies</dt>
      {% for society in parishioner.societies.all %}
        <dd><a href="{{ society.get_absolute_url }}">{{ society.name|title }}</a></dd>
      {% endfor %}
      <dt>sacraments</dt>
        {% for sacrament in parishioner.sacraments.all %}
          <dd><a href="{{ sacrament.get_absolute_url }}">{{ sacrament.name|title }}</a></dd>
        {% endfor %}
  </dl>
</article>

{% endblock %}
