{% extends parent_template|default:"people/base_people.html" %}

{% block title %}
{{ block.super }} - {{ parishioner.name|title }}
{% endblock %}

{% block content %}

<article>
  <h2>{{ parishioner.name|title }}</h2>
  <dl>
    <dt>Date of Birth</dt>
      <dd>{{ parishioner.date_of_birth|date:"F jS, Y" }}</dd>
    <dt>Email</dt>
      <dd>{{ parishioner.email }}</dd>
    <dt>Phone Number</dt>
      <dd>{{ parishioner.phone_number }}</dd>
    <dt>Start Date</dt>
      <dd>{{ parishioner.start_date|date:"F jS, Y" }}</dd>
    <dt>Community</dt>
      <dd>{{ parishioner.communities|title }}</dd>
    <dt>Societies</dt>
      {% for society in parishioner.societies.all %}
        <dd><a href="#">{{ society.name|title }}</a></dd>
      {% endfor %}
      <dt>sacraments</dt>
        {% for sacrament in parishioner.sacraments.all %}
          <dd><a href="#">{{ sacrament.name|title }}</a></dd>
        {% endfor %}
  </dl>
</article>

{% endblock %}
